body {
	padding: 20px;	
	text-align: center;
	font-family: 'New Century Schoolbook', serif  ;
	background: linear-gradient(#032c3a, #0f2a56, #858d9b, #eaeaea, #d0daed, #bec6d6, #858d9b, #4b4f56, #212326, #0f2a56)
}


.forms {

	border-radius: 12px;
	border: solid ;
	width: 18em;
	padding: 1.5em;
	margin: 2em auto;
	border-width: .15em;
	border-color:#85a6e2 ; 
	background-color: #a5c4ff ;
	background: linear-gradient(#3f89ff, #bce0f4, #9edbff, #a0c4d8,#87a7ba, #4286f4, #1b3a6d);
	color: #032c3a;
	font-weight: bold;

}



label {
	display: inline-block;
	width: 100px;
}

img {
	width: 100%;	
	margin: 2em auto;
	padding-top: 1em
	border-width: .15em;
}

