body {
	padding: 20px;	
	text-align: center;
	font-family: 'New Century Schoolbook', serif  ;
	background: linear-gradient(#1a1b1c, #82868c, #c7ced8 50%,#1a1b1c)
}


.forms {

	border-radius: 12px;
	border: solid ;
	width: 18em;
	padding: 1.5em;
	margin: 2em auto;
	border-width: .15em;
	border-color:#85a6e2 ; 	
	background: linear-gradient( #1b7a7d, #bce0f4 5% , #bce0f4 90%, #1b7a7d);
	color: #032c3a;
	font-weight: bold;

}



label {
	display: inline-block;
	width: 100px;
}

img {
	width: 100%;	
	margin: 2em auto;
	padding-top: 1em
	border-width: .15em;
}

